body {
  background: url('../images/background.jpg') no-repeat center center fixed;
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande',
    sans-serif;
  webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 960px;
  text-align: center;
  margin-bottom: 100px;
}

.logo img {
  margin-top: 30px;
  width: 40%;
}

#pick-one h3 {
  color: white;
  margin-top: 40px;
}

#pokemons {
  margin-top: 50px;
  display: flex;
  width: 100%;
}

.pkm img {
  width: 100px;
  height: 100px;
  margin-bottom: 8px;
}

.pkm {
  margin-left: 15px;
  padding: 10px;
  background: white;
  border: 1px solid gray;
  height: 150px;
  width: 130px;
  cursor: pointer;
}

.pkm-chosen {
  float: left;
}

.enemies {
  float: right;
}

.your-choice-item img {
  width: 300px;
  height: 324px;
  float: left;
  margin-bottom: 20px;
}

.your-choice-item .hp {
  margin-top: 20px;
}

.enemy img {
  width: 300px;
  height: 300px;
  float: right;
  margin-bottom: 20px;
}

.enemy {
  background: white;
  width: 300px;
  padding: 20px;
  border-radius: 30px;
}

.hp,
.hp-enemy {
  margin-top: 8px;
  font-weight: 600;
}

.hp-below {
  background: white;
  width: 300px;
  padding: 20px;
  border-radius: 30px;
  position: absolute;
}

.hp h3 {
  font-weight: 600;
}

#attack {
  background: red;
  color: white;
  width: 50px;
  padding: 20px;
  border-radius: 15px;
  margin: 0 auto;
  visibility: hidden;
  cursor: pointer;
}

@media screen and (max-width: 960px) {
  #pokemons {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .pkm {
    margin-bottom: 20px;
  }
  .your-choice-item {
    max-width: 180px;
  }
  .your-choice-item img {
    width: 200px;
    height: 170px;
  }
  .enemy {
    max-width: 200px;
  }
  .enemy img {
    width: 180px;
    height: 170px;
  }
}
